streamlit
openai
langchain
tiktoken
chromadb
pysqlite3-binary
pandas
tabulate
replicate
pandasai
python-dotenv
pypdf
torch
accelerate
bitsandbytes
transformers
sentence_transformers
faiss_cpu
langchain.agents
create_csv_agent
langchain.llms
dotenv
load_dotenv
